body{
    margin: 0;
    padding: 0px 375px 10px 300px;
    height: 3000px;
    background-color: rgb(193, 193, 193);
    font-family: 'Segoe UI', Roboto, sans-serif;
}
button{
    font-family: 'Segoe UI', Roboto, sans-serif;
}
p{
    font-family: 'Segoe UI', Roboto, sans-serif;
}