.left-sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    border-right: 1px solid rgb(211, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}
.left-sidebar img{
    width: 25px;
}
.left-sidebar_options{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 115px;
    cursor: pointer;
    transition: opacity 0.15s, color;
}
.text-left_sidebar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.twitter-logo{
    width: 115px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
}
.left-sidebar_options,
.twitter-logo{
    margin-left: -75px;
}
.profile_pic_left-sidebar{
    object-fit: cover; 
    border-radius: 20px; 
    height: 25px;
}
.tweet-button{
    margin-top: 8px;
    color: white;
    background-color: #1CA1F1;
    padding: 15px 90px 15px 90px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
}

/* EFFECTS */
.left-sidebar_options:hover .text-left_sidebar{
    color: #1CA1F1;
}
.left-sidebar_options:active .text-left_sidebar{
    opacity: 0.4;
}
.left-sidebar_options:hover img{
    filter: invert(.3) sepia(1) saturate(5) hue-rotate(170deg);
}
.left-sidebar_options:active img{
    opacity: 0.4;
}
.left-sidebar_options:hover .profile_pic_left-sidebar{
    filter: none;
}
.tweet-button:active{
    opacity: 0.4;
}