.tweet-timeline{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.tweet-post{
    border-top: 1px solid rgb(211, 210, 210);
    height: 1fr;
    padding: 5px 10px 5px 10px;
}